
@import url('https://fonts.googleapis.com/css?family=Fira+Sans|Raleway|Roboto');
/*
font-family: 'Roboto', sans-serif;
font-family: 'Fira Sans', sans-serif;
font-family: 'Raleway', sans-serif;
*/

*, *:before, *:after {
	box-sizing: border-box;
}

html, body {
	width: 100%;
	height: 100%;
	padding: 0.8%;
	margin: 0;
	font-size: 18px;
	line-height: 1.6em;
	color: #3A4145;
	font-family: 'Fira Sans', sans-serif;
}

.row {
	display: flex;
	height: 95%;
	width: 100%;
}

#chartContainer {
	display: inline-block;
	float: left;
	width: 49vw;
	height: 95%; /* 100% and you can't see the underneath controls for the chart */
}

.flex-container {
  padding: 0;
  margin: 0;
  list-style: none;
  
  /* We first create a flex layout context */
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  
  /* Then we define the flow direction 
     and if we allow the items to wrap 
   * Remember this is the same as:
   * flex-direction: row;
   * flex-wrap: wrap;
   */
  -webkit-flex-flow: row wrap;
  /* Then we define how is distributed the remaining space */
  justify-content: center;
}

/* Remove the up/down arrows from the number inputs */
input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input {
	/* Top Right Bottom Left */
	margin: 0 0 0 0.5%;
	text-align: center;
	text-decoration: none;
	font-size: 1.2em;
	padding: 0;
	font-weight: bold;
}

.width-5 {
	max-width: 5%;
}

#dailyComment {
	width: 60%;
	height: 3vw;
	margin-top: 1%;
}

button {
	/* TopBottom RightLeft */
	margin: 0 0.5%;
	background: rgb(255, 165, 0); /* Orange */
	border: none;
	color: white;
	padding: 0.8% 1.5%;
	text-align: center;
	text-decoration: none;
	font-size: 1.2em;
	font-weight: bold;
}

button:hover{
	background: rgb(255, 140, 0); /* Dark Orange */
}

#plusButton {
	background: rgb(34, 175, 34); /* Green */
	/* Top Right Bottom Left */
	margin: 0 0.5% 0 0;
}

#plusButton:hover{
	background: rgb(34, 130, 34);
}

#minusButton {
	background: rgb(220, 20, 60); /* Red */
	/* Top Right Bottom Left */
	margin: 0 0.5% 0 0;
}

#minusButton:hover {
	background: rgb(175, 20, 60);
}

#statsContainer {
	display: inline-block;
	float: left;
	width: 49vw;
	height: 95%; /* 100% and you can't see the underneath controls for the chart */
}
